{
    "extends": "fbjs",
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}]
    },
    "root": true,
    "plugins": [
        "react",
        "flowtype"
    ],
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}
